:root{
    --color : #ffa949
}

*{
    margin: 0px;
}

body {
    font-family: sans-serif;
    background-color: #e3e3e3;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
}


.waviy {
    position: relative;
    margin-bottom: 20px;
}
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    font-weight: bold;
    animation-delay: calc(.2s * var(--i));
}
@keyframes flip {
    0% ,80% {
    transform: rotateY(360deg) 
}
}


.item {
    width: 250px;
    margin: 20px;
    background-color: var(--color);
    color: #fff;
    text-align: center;
    line-height: 2;
    font-size: 24px;
    border-radius: 25px;
    display: inline-block; /* Tambahkan ini */
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
}

.item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    border-radius: 10rem;
    z-index: -2;
    transition: all .3s;
}

.item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 169, 73, 0.15);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.item:hover {
    color: var(--color);
}

.item:hover::before {
    width: 100%; 
    background-color: #000000;
}


footer {
    background-color: #ccc;
    margin: 5px 0px 10px;
    padding: 10px 0px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}


.secret {
    animation: changeBackground 2s infinite;
}

@keyframes changeBackground {
    0% {
        background: #FF5733;
    }
    25% {
        background: #33FF57;
    }
    50% {
        background: #5733FF;
    }
    75% {
        background: #FF33E6;
    }
    100% {
        background: #33E6FF;
    }
}

.sepuh{
    display: none;
    position: absolute;
    z-index: 1;
}

.rotating-scaling-img {
    width: 100px;
    height: 100px;
    animation: scaleRotate 2s linear infinite;
    transform-origin: center;
}

@keyframes scaleRotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    30% {
        transform: scale(3) rotate(3600deg);
    }

    70%{
        transform: scale(4) rotate(3600deg);
    }

    100%{
        transform: scale(1) rotate(0deg)
    }
}

.audio-container {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 75px;
}
    
.play-button {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.play-button::before {
    content: "\25B6"; 
    font-size: 30px;
    color: white;
    line-height: 50px;
    text-align: center;
    display: block;
}

.alert{
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 30px;
    animation: scaleWarning 1s linear infinite;
}

.alert:hover{
    cursor: pointer;
    transform: scale(1.2);
    animation: 1s;
}

@keyframes scaleWarning {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1.4);
    }
}

@media screen and (max-width:576px) {
    .container {
        height: 800px;
    }

    .audio-container {
        bottom: 50px;
        right: 50px;
    }
}

@media screen and (max-height:576px) {
    .item {
        margin: 10px;
        font-size: 12px; 
    }
}
